// --- Fonts ---
@font-face {
  font-family: 'Noka';
  src: url('/fonts/noka-hairline.otf') format('opentype');
  font-weight: 100;
  font-display: swap;
}

@font-face {
  font-family: 'Noka';
  src: url('/fonts/noka-light.otf') format('opentype');
  font-weight: 300;
  font-display: swap;
}

@font-face {
  font-family: 'Noka';
  src: url('/fonts/noka-medium.otf') format('opentype');
  font-weight: 500;
  font-display: swap;
}
@font-face {
  font-family: 'Noka';
  src: url('/fonts/noka-semibold.otf') format('opentype');
  font-weight: 600;
  font-display: swap;
}
@font-face {
  font-family: 'Noka';
  src: url('/fonts/noka-bold.otf') format('opentype');
  font-weight: 700;
  font-display: swap;
}

@font-face {
  font-family: 'Noka';
  src: url('/fonts/noka-black.otf') format('opentype');
  font-weight: 900;
  font-display: swap;
}

@font-face {
  font-family: 'Fredoka';
  src: url('/fonts/fredoka-light.ttf') format('truetype');
  font-weight: 300;
  font-display: swap;
}

@font-face {
  font-family: 'Fredoka';
  src: url('/fonts/fredoka-regular.ttf') format('truetype');
  font-weight: 400;
  font-display: swap;
}

@font-face {
  font-family: 'Fredoka';
  src: url('/fonts/fredoka-medium.ttf') format('truetype');
  font-weight: 500;
  font-display: swap;
}

@font-face {
  font-family: 'Fredoka';
  src: url('/fonts/fredoka-semibold.ttf') format('truetype');
  font-weight: 600;
  font-display: swap;
}

@font-face {
  font-family: 'Fredoka';
  src: url('/fonts/fredoka-bold.ttf') format('truetype');
  font-weight: 700;
  font-display: swap;
}
