@use 'sass:map';
@use 'variables' as *;

// --- Typography mixins ---
@mixin _font($size, $type) {
  @if $type == display {
    font-size: map.get(('xs': $display-xs, 'sm': $display-sm, 'md': $display-md, 'lg': $display-lg, 'xl': $display-xl), $size);
    font-weight: 600;
    font-family: $font-title;
  }

  @else if $type == title {
    font-size: map.get(('xxs': $title-xxs, 'xs': $title-xs, 'sm': $title-sm, 'md': $title-md, 'lg': $title-lg, 'xl': $title-xl, 'xxl': $title-xxl, 'xxxl': $title-xxxl), $size);
    font-weight: 600;
    font-family: $font-title;
  }

  @else if $type == text {
    font-size: map.get(('xxs': $text-xxs, 'xs': $text-xs, 'sm': $text-sm, 'md': $text-md, 'lg': $text-lg, 'xl': $text-xl, 'xxl': $text-xxl), $size);
    font-weight: 300;
    font-family: $font-text;
  }
}

// text — light
@mixin text-xxs {
  @include _font('xxs', text);
}

@mixin text-xs {
  @include _font('xs', text);
}

@mixin text-sm {
  @include _font('sm', text);
}

@mixin text-md {
  @include _font('md', text);
}

@mixin text-lg {
  @include _font('lg', text);
}

@mixin text-xl {
  @include _font('xl', text);
}

@mixin text-xxl {
  @include _font('xxl', text);
}

// title — semibold
@mixin title-xxs {
  @include _font('xxs', title);
}

@mixin title-xs {
  @include _font('xs', title);
}

@mixin title-sm {
  @include _font('sm', title);
}

@mixin title-md {
  @include _font('md', title);
}

@mixin title-lg {
  @include _font('lg', title);
}

@mixin title-xl {
  @include _font('xl', title);
}

@mixin title-xxl {
  @include _font('xxl', title);
}

@mixin title-xxxl {
  @include _font('xxxl', title);
}

// display — grandes tailles (scores, icônes, emojis) — font-size uniquement
@mixin display-xs { @include _font('xs', display);}
@mixin display-sm { @include _font('sm', display); }
@mixin display-md { @include _font('md', display); }
@mixin display-lg { @include _font('lg', display); }
@mixin display-xl { @include _font('xl', display); }


// --- Fonts face ---
@font-face {
  font-family: 'Outfit';
  src: url('/fonts/outfit-light.ttf') format('truetype');
  font-weight: 300;
  font-display: swap;
}

@font-face {
  font-family: 'Outfit';
  src: url('/fonts/outfit-semibold.ttf') format('truetype');
  font-weight: 600;
  font-display: swap;
}
